<div class="wrapper">
  <header>
    <h1>AnnoCart</h1>
  </header>
  <main>
    <aside class="sidebar">
      <div class="sidebar__action-item" id="selectImage">
        <img src="../assets/img/icons/add-image-svgrepo-com.svg" alt="Select Image">
      </div>
      <div class="sidebar__action-item" id="selectSquereRegion">
        <img src="../assets/img/icons/select_square.svg" alt="Select Square">
      </div>
      <div class="sidebar__action-item" id="selectPoint">
        <img src="../assets/img/icons/pin.svg" alt="Pin">
      </div>
    </aside>
    <div class="workzone">
      <image-workzone></image-workzone>
    </div>
  </main>
  <footer>

  </footer>
</div>