box-selection {
  position: absolute;
  cursor: pointer;
  border-radius: 0px 10px;
  border: 1px solid rgba(255, 56, 62, 0.78);
  background-color: rgba(255, 56, 62, 0.28);
}

.hoverable-selection {
  opacity: 0;
  transition: 150ms;
}
.hoverable-selection:hover {
  transition: 150ms;
  opacity: 1;
}