<div class="info">
	<div class="info-header">
		<div class="info-header__block-name">
			<div class="info-header__block-name--not-editable">
				<p>Block Name</p>
			</div>
			<!-- <div class="info-header__block-name--editable">

			</div> -->
		</div>
		<div class="info-header__buttons-zone">
			<div class="info-header__button info-header__buttons-zone--save">Save</div>
			<div class="info-header__button info-header__buttons-zone--delete">Delete</div>
		</div>
	</div>
	<div class="info__description">
		<div class="info__description--not-editable">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil laudantium, fugiat cupiditate qui ullam
				assumenda quia. Ab nemo laboriosam hic quis aliquam ducimus itaque, quas delectus soluta quo quam
				voluptatibus.
				Suscipit nulla minus iure? Doloremque optio tenetur accusantium delectus architecto debitis! Tenetur
				veritatis eum aut mollitia cum ex numquam, corrupti ullam reiciendis fugit expedita alias adipisci ipsa
				cumque doloribus iure?
				Tempore error voluptatibus laboriosam incidunt vero consequatur sint debitis quam, itaque, aperiam ea
				nesciunt sed exercitationem consequuntur aut suscipit. Saepe delectus natus obcaecati, ab asperiores
				neque eveniet dolorum sit harum?
			</p>
		</div>
		<div class="info__description--editable"></div>
	</div>
</div>