<div class="info">
	<div class="info-header">
		<div class="info-header__block-name">
			<div class="info-header__block-name--not-editable">
				<p *ngIf="!isEditModeOn" #selectionNameElement>{{selectionName}}</p>
				<input *ngIf="isEditModeOn" #selectionNameEditableElement value="{{selectionName}}">
			</div>
		</div>
		<div *ngIf="isEditModeOn" class="info-header__buttons-zone">
			<div class="info-header__button info-header__buttons-zone--save" (click)="saveCommand()">Save</div>
			<div class="info-header__button info-header__buttons-zone--delete" (click)="deleteCommand()">Delete</div>
		</div>
	</div>
	<div class="info__description">
		<div class="info__description--not-editable">
			<p *ngIf="!isEditModeOn" #selectionDescriptionElement>{{selectionDescription}}</p>
			<textarea *ngIf="isEditModeOn" #selectionDescriptionEditableElement type="textarea" rows="5">{{selectionDescription}}</textarea>
		</div>
		<div class="info__description--editable"></div>
	</div>
</div>